
<div class="container is-vcentered">
    
    <h1 class="title">Iniciar Seción</h1>

    <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
            <input class="input" type="text" placeholder="Ingresa tu nombre">
        </div>
    </div>

    <div class="field">
        <label class="label">Contraseña</label>
        <div class="control">
            <input class="input" type="password" placeholder="Ingresa tu password">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Ingresar</button>
        </div>
    </div>
</div>
 